---
layout: compress
---

{% include base_path %}

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 }}" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}

    <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "Person",
      "name": "Zhouyu Shen",
      "jobTitle": "PhD Candidate",
      "affiliation": {
        "@type": "Organization",
        "name": "University of Chicago"
      },
      "url": "https://szyu123.github.io/zhouyushen/",
      "sameAs": [
        "https://www.linkedin.com/in/zhouyushen/",
        "https://scholar.google.com/zhouyushen"
      ]
    }
    </script>
  </head>

  <body>

    {% include browser-upgrade.html %}
    {% include masthead.html %}

    {{ content }}

    <div class="page__footer">
      <footer>
        {% include footer/custom.html %}
        {% include footer.html %}
      </footer>
    </div>

    {% include scripts.html %}

  </body>
</html>
